<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PayMyBuddy</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
</head>
<body>
		<div class="container my-2">
			<h1>YOur Bank Details and Amount in Account</h1>
			<table border="1" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Bank Name</th>
						<th>Account Number</th>
						<th>Amount</th>
						<th>Add Money</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="account : ${accountOfUser}">
						<td th:text="${account.bankName}"></td>
						<td th:text="${account.bankAccountNumber}"></td>
						<td th:text="${account.amount}"></td>
						<td><a th:href="@{/AddMoneyToAccount}"
							class="btn btn-primary"> Add Money To Account Balance</a></td>
					</tr>
				</tbody>
			</table>
			<p><a th:href="@{/uploadMoney}"
							class="btn btn-primary"> Add Money To your PayMyBuddy Balance</a></p>
		</div>
	</div>
</body>
</html>