<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PayMyBuddy</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="card-body">
		<div class="container">
			<h1>Save Account Details and Amount</h1>
			<form th:action="@{/saveAccount}" th:object="${account}"
				method="post">
				<div>
					<label>BankName</label> <input type="text" th:field="*{bankName}"
						placeholder="Bank Name" class="form-control mb-4 col-4" required>
				</div>
				<div>
					<label>BankAccountNumber</label> <input type="text"
						th:field="*{bankAccountNumber}" placeholder="Account Number"
						class="form-control mb-4 col-4" required>
				</div>
				<div>
					<label>Amount</label><input type="text" th:field="*{amount}"
						placeholder="Enter Amount to be loaded"
						class="form-control mb-4 col-4" required>
				</div>
				<button type="submit" class="btn btn-info col-2">Save
					Account</button>
			</form>
		</div>
	</div>
</body>
</html>