<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title>PayMyBuddy</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="card-body">
		<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
			<a class="navbar-brand" href="">PayMyBuddy</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link active"
						href="/home.html" th:href="@{/home}">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/transfer.html"
						th:href="@{/transfer}">Transfer</a></li>
					<li class="nav-item "><a class="nav-link"
						href="templates/profile.html" th:href="@{/profile}">Profile</a></li>
					<li class="nav-item "><a class="nav-link"
						href="templates/contact.html" th:href="@{/contact}">Contact</a></li>
					<li class="nav-item "><a class="nav-link" href="login.html"
						th:href="@{/login}">Log off</a></li>
				</ul>
			</div>
		</nav>
		<div class="container mt-4">
			<div class="row">
				<div class="col-md-10">Send Money</div>
				<div class="col-md-2">
					<button class="btn btn-sm col-12 btn-primary">
						<a class="text-light" href="templates/connection.html" th:href="@{/connection}">Add connection</a>
					</button>
				</div>
			</div>

			<div class="card mt-1">
				<div class="card-body bg-light">

					<form method="post" th:action="@{/makePayment}"
						th:object="${transfer}">
						<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}">
		</div>
						<div class="row">
							<div class="col-md-4 col-lg-6">
								<label for="exampleInputEmail1">Connections</label> <select
									class="form-select form-select"
									aria-label=".form-select-sm example"
									th:field="*{recieverEmail}" name="connections" id="connections">
									<option value="0">Select a connection</option>
									<option th:each="connection :${connections}"
										th:value="${connection.recieverEmail}" th:text="${connection.recieverEmail}">
								</select>
							</div>
							<div class="col-md-4 col-lg-4">
								<label for="exampleInputEmail1">Amount</label> <input
									th:field="*{amount}" type="number" class="form-control"
									placeholder="0" required>
							</div>
							<div class="col-md-2 col-lg-2">
								<button class="btn btn col-6 btn-success form-control">Pay</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-lg-4">
								<label for="exampleInputEmail1">Description</label> <input
									th:field="*{description}" type="text" class="form-control">
							</div>
						</div>
					</form>

				</div>
			</div>
			 <h6 class="text-left mt-5">
            My Transactions
        </h6>
        <table class="table table-striped">
            <thead class="bg-success text-white">
                <tr>
                    <th scope="col">Connection</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
               <tr th:each="transaction : ${transactions}">
						<td th:text="${transaction.recieverEmail}"></td>
						<td th:text="${transaction.description}"></td>
						<td th:text="${transaction.amount}"></td>
					</tr>
               
            </tbody>
        </table>
		</div>
		</div>
</body>
</html>