<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PayMyBuddy</title>
</head>
<body>
	<div class="container">
		<h1> Top up your PAYMYBUDDY balance   </h1>

		<form action="#" th:action="@{/uploadMoneyToBalance}" th:object="${user}"
			method="POST">
			<div th:if="${message}" th:text="${message}"
				th:class="${'alert ' + alertClass}"></div>
				<label> Amount</label>
			<input type="number" th:field="*{balance}"
				class="form-control mb-4 col-4" required>

			<button type="submit" class="btn btn-info col-2">Add Money</button>
		</form>
	</div>
</body>
</html>